@tailwind base;
@tailwind components;
@tailwind utilities;

@import "hamburgers/dist/hamburgers.min.css";

@font-face {
  font-family: "Louize";
  src: url("/fonts/LouizeDisplay.ttf") format("truetype");
}

@font-face {
  font-family: "Louize-Medium";
  src: url("/fonts/LouizeDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Louize-Medium-Italic";
  src: url("/fonts/LouizeDisplay-MediumItalic.ttf") format("truetype");
}
