@tailwind base;
@tailwind components;
@tailwind utilities;

@import "hamburgers/dist/hamburgers.min.css";

@font-face {
  font-family: "Louize";
  src: url("/fonts/LouizeDisplay.ttf") format("truetype");
}

@font-face {
  font-family: "Louize-Medium";
  src: url("/fonts/LouizeDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Louize-Medium-Italic";
  src: url("/fonts/LouizeDisplay-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Louize-Bold";
  src: url("/fonts/LouizeDisplay-Bold.ttf") format("truetype");
}

.stroke {
  -webkit-text-stroke: 0.5px black;
}

.strokeblack {
  -webkit-text-stroke: 1px black;
}

.strokewhite {
  -webkit-text-stroke: 1px white;
}

.inputs {
  @apply bg-transparent placeholder:text-black outline-none border-[1px] indent-4 h-[2.5rem] w-[21rem] lg:h-[3rem] lg:w-[27rem] rounded-none appearance-none text-[0.95rem] lg:text-[1rem];
}
